{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <body>
    <h1>{{ controller_name }}</h1>
    <p>{{ current_day }} {{ current_dayN }} {{ current_month }} {{ current_time }}</p>
    <p>{{ textSlugified }}</p>
    </body>
</head>
</html>
{% endblock %}
